# Default ignored files
/venv/
/__pycache__/
/database/__pycache__/
/modules/__pycache__/
/fastapimode/__pycache__/
/Testing/
modules/azure_translator.py
.prettierrc
.eslintrc.json
/node_modules/
package.json
package-lock.json
.eslintrc
eslint.config.mjs