chromadb==0.3.29
deep_translator==1.11.4
deepl==1.16.1
Flask==2.3.2
Flask_SocketIO==5.3.4
gevent==22.10.2
Markdown
openai==1.9.0
Pillow==10.2.0
protobuf==3.20.3
PyYAML==6.0.1
Requests==2.31.0
tiktoken==0.4.0
transformers==4.33.3
yeelight==0.7.14
sentence_transformers
torch
torchvision
torchaudio
gevent-websocket
pymdown-extensions
pygments