chromadb==0.3.29
gevent==22.10.2
Markdown
openai==1.9.0
Pillow
protobuf
PyYAML
Requests
tiktoken
transformers
yeelight
sentence_transformers
gevent-websocket
pymdown-extensions
pygments
pydantic[email]
multipart
aiofiles
fastapi
colorlog
pynvml
uvicorn
cohere
boto3