* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-size: 100%;
  width: 100%;
  background-size: cover;
  /* font-family: "Philosopher", sans-serif; */
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-size: 1rem;
}

.flexPage {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  position: relative;
  background: linear-gradient(to bottom, #1f0b1f 0%, #121212 20%);
  overflow: hidden;
}

/*comic blocks*/
.comic-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.border-wrapper {
  position: absolute;
  padding: 10px;
  background: rgb(0, 0, 0);
}

.wrapper-char {
  top: 3rem;
  left: 48%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  height: calc(80% - 20px);
  clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 150px), 0% 100%);
  z-index: 1;
}

.wrapper-char-horizon {
  top: 80px;
  left: 20px;
  width: 70%;
  height: calc(80% - 20px);
  clip-path: polygon(0 0, 100% 0%, calc(100% - 150px) 100%, 0% 100%);
  z-index: 1;
}

.wrapper-char-fullscreen {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  padding: 0;
  z-index: 1;
}

.char_bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: left top;
  clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 150px), 0% 100%);
}

.char_bg_horizon {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: left top;
  clip-path: polygon(0 0, 100% 0%, calc(100% - 150px) 100%, 0% 100%);
}

.char_bg_fullscreen {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: left top;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

.wrapper-char-dynpic {
  top: 35%;
  left: 65%;
  transform: translate(-50%, -50%);
  width: calc(70% - 40px);
  height: calc(55% - 20px);
  clip-path: polygon(0 4%, 100% 0, 93% 100%, 4% 95%);
  display: none;
  z-index: 5;
}

.wrapper-char-dynpic-horizon {
  top: 40%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: calc(55% - 20px);
  height: calc(70% - 40px);
  clip-path: polygon(0 4%, 100% 0, 95% 100%, 4% 96%);
  display: none;
  z-index: 5;
}

.wrapper-char-dynpic-fullscreen {
  display: none;
  z-index: 5;
}

.char_dynmicpic_bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 4%, 100% 0, 93% 100%, 4% 95%);
}

.char_dynmicpic_bg_horizon {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 4%, 100% 0, 95% 100%, 4% 96%);
}

.wrapper-user {
  bottom: 150px;
  left: 60%;
  transform: translateX(-50%);
  width: calc(80% - 40px);
  height: calc(30% + 150px - 20px);
  clip-path: polygon(0 180px, 100% 70px, 100% 100%, 0% 100%);
  z-index: 2;
}

.wrapper-user-horizon {
  top: 100px;
  left: auto;
  right: 20px;
  width: calc(30% + 150px - 20px);
  height: calc(80% - 20px);
  clip-path: polygon(150px 0, 100% 0%, 100% 100%, 0% 100%);
  z-index: 2;
}

.wrapper-user-fullscreen {
  display: none;
}

.user_bg {
  width: 100%;
  height: 100%;
  clip-path: polygon(0 180px, 100% 70px, 100% 100%, 0% 100%);
  background-size: cover;
  background-position: left top;
  background-color: blueviolet;
}

.user_bg_horizon {
  width: 100%;
  height: 100%;
  clip-path: polygon(150px 0, 100% 0%, 100% 100%, 0% 100%);
  background-size: cover;
  background-position: left top;
  background-color: blueviolet;
}

.comic_msg_holder_char {
  position: absolute;
  flex-direction: column;
  z-index: 8;
  top: 40%;
  left: 80px;
  width: auto;
  min-width: 200px;
  max-width: 70%;
  display: none;
}

.comic_msg_holder_char_horizon {
  max-width: 40%;
  position: absolute;
  flex-direction: column;
  z-index: 8;
  top: 50%;
  left: 80px;
  width: auto;
  min-width: 200px;
}

.comic_msg_holder_user {
  position: absolute;
  flex-direction: column;
  z-index: 9;
  top: calc(40% + 300px);
  left: 30%;
  width: auto;
  min-width: 200px;
  max-width: 50%;
  display: none;
}

.comic_msg_holder_user_horizon {
  position: absolute;
  flex-direction: column;
  z-index: 9;
  width: auto;
  min-width: 200px;
  max-width: 30%;
  top: 50%;
  left: calc(40% + 140px);
}

.msg-drag-handle {
  position: absolute;
  left: 5px;
  top: 40px;
  cursor: move;
  opacity: 0.4;
}

.comic_msgbox_arrow_char {
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.7);
  clip-path: polygon(0 0, 20% 100%, 100% 100%);
  align-self: flex-end;
  margin-right: 20px;
  backdrop-filter: blur(5px);
}

.comic_msgbox_arrow_user {
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.7);
  clip-path: polygon(100% 0, 0% 100%, 80% 100%);
  align-self: flex-start;
  margin-left: 20px;
  backdrop-filter: blur(5px);
}

.comic_msgbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  min-height: 100px;
  /* max-height: 200px; */
  overflow: auto;
  backdrop-filter: blur(8px);
  box-shadow: 3px 3px 5px rgba(45, 2, 58, 0.5);
  padding: 5px;
}

.comic_msgbox::-webkit-scrollbar {
  display: none;
}

.dynaPicControl {
  width: fit-content;
  cursor: pointer;
}

/*List mode blocks*/

#setTings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  background-color: rgba(21, 21, 21, 0.164);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  gap: 5px;
  z-index: 3;
}

.chatSetUpBtn {
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  background: rgba(34, 32, 37, 0.95);
  display: none;
}

.settingOpt {
  background: rgba(34, 32, 37, 0.5);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.settingOpt div {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.topSelect {
  font-size: 0.6rem;
  font-weight: 500;
  width: 8rem;
  border-radius: 10px;
  border: 0px;
  padding: 0 0.8rem;
  background: rgba(255, 127, 36, 0.7);
  color: rgb(255, 255, 255);
  height: 1.5rem;
  cursor: pointer;
}

#ai_intro {
  color: antiquewhite;
  font-size: 3rem;
  text-shadow: 1px 1px 5px #000000;
  padding: 4px;
  width: fit-content;
  align-self: flex-start;
  margin-left: 4rem;
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

#ai_intro .ainame {
  width: fit-content;
  height: fit-content;
}

#ai_intro .prologue_button {
  width: 36px;
  height: 36px;
  padding: 2px;
  background: rgb(3, 3, 3, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
}

#intro_prologue_area {
  position: relative;
  width: 100%;
  height: 0px;
}

#intro_prologue_area .intro_prologue {
  position: absolute;
  width: 80%;
  height: fit-content;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 10px;
  overflow: auto;
  box-shadow: 3px 3px 5px rgba(15, 13, 16, 0.5);
  transition: height 0.5s ease;
  left: 50%;
  transform: translateX(-50%);
  color: antiquewhite;
  line-height: 1.5rem;
  z-index: 5;
  text-shadow: 1px 1px rgb(0, 0, 0, 0.5);
  display: none;
  cursor: pointer;
}

.free-space {
  margin-top: auto;
}

#holder_box {
  /* display: flex; */
  flex-direction: column;
  border-radius: 10px;
  justify-content: space-between;
  gap: 10px;
  width: 90%;
  height: 50vh;
  background: rgba(36, 36, 36, 0.32);
  backdrop-filter: blur(3px);
  margin-bottom: 2rem;
  z-index: 4;
  display: none;
  position: relative;
}

#drag-handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  cursor: ns-resize;
  z-index: 100;
}

#message_box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
}

#holder_box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background: linear-gradient(
    to bottom,
    rgb(91, 55, 113) 0%,
    rgba(36, 36, 36, 0) 100%
  );
  pointer-events: none;
  z-index: var(--z-index, 1);
}

#message_box::-webkit-scrollbar {
  display: none;
}

/*input blocks*/
#inputArea {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  padding: 1rem;
  gap: 10px;
  align-items: center;
}

.messageInputBox {
  width: 100%;
  border-radius: 1rem;
  border: 0px;
  background: rgba(2, 2, 2, 0.7);
  backdrop-filter: blur(3px);
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.messageInputBox .ai_icon {
  width: 30px;
  height: 30px;
  display: none;
  align-self: flex-start;
}

.messageInputBox .input_area {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  position: relative;
}

#cmd_dropdownMenu {
  display: none;
  list-style: none;
  border: none;
  margin: 0;
  padding: 2px;
  position: absolute;
  border-radius: 5px;
  background-color: #34145c;
  flex-direction: column;
  width: max-content;
  box-shadow: 2px 2px 5px rgb(4, 4, 4, 0.7);
  z-index: 99;
  font-size: 0.9rem;
  gap: 2px;
}

#cmd_dropdownMenu li {
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 200px;
  color: #34145c;
  background-color: #d7b8ff;
}

#cmd_dropdownMenu li.highlight {
  background-color: #452573;
  color: #eeeeee;
}

#cmd_dropdownMenu li .sug_desc {
  display: none;
  font-size: 0.7rem;
  color: #34145c;
  background-color: #d7b8ff;
  border-radius: 2.5px;
  padding: 0.35rem;
  width: 100%;
}

#messageToSend {
  width: 100%;
  height: auto;
  color: rgb(67, 55, 74);
  font-size: 0.8rem;
  border: none;
  background: transparent;
  resize: none;
  overflow: auto;
  max-height: 200px;
  font-family: 'Barlow';
  flex-grow: 1;
  align-self: center;
}

#messageToSend.input_text {
  color: #ffffff;
  font-size: 1rem;
}

#messageToSend:focus {
  outline: none;
}

#messageToSend::selection {
  background-color: orange;
  color: white;
}

.messageOptions {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

#submit,
#regenerate,
#restart,
#exitchat {
  border-radius: 30px;
  border: 0px;
  padding: 0 20px;
  background: rgba(52, 7, 104, 0.7);
  color: antiquewhite;
  height: 40px;
  font-weight: 500;
}

#submit {
  padding: 0px;
  min-height: 3rem;
  min-width: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  background-color: #444444;
  align-self: flex-end;
}

#submit .msgInput {
  align-self: flex-end;
}

#chat-history-buttons {
  align-self: flex-end;
}

#load-chat-history,
#save-chat-history {
  border-radius: 15px;
  border: 0px;
  padding: 0 20px;
  background: rgba(52, 7, 104, 0.7);
  color: antiquewhite;
  height: 28px;
  font-weight: 300;
  font-size: 0.6rem;
}

#submit:hover,
#regenerate:hover,
#restart:hover,
#exitchat:hover,
#load-chat-history:hover,
#save-chat-history:hover {
  background: rgba(255, 127, 36, 0.7);
  cursor: pointer;
}

.codePre {
  width: 100%;
  background: rgba(52, 7, 104, 0.7);
  border-radius: 5px 5px 0 0;
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: right;
  margin-top: 14px;
}

.dynamicPic {
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(218, 56, 255, 0.7);
  cursor: pointer;
  position: relative;
  display: flex;
}

.dynamicPic img {
  width: 100%;
  border-radius: 5px;
  height: auto;
}

.dynamicPic::after {
  content: 'Click to enlarge';
  position: absolute;
  right: 0.5em;
  top: 0.5rem;
  width: fit-content;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f0b1f7e;
  border-radius: 1rem;
  font-size: 0.8rem;
  padding: 0 0.5rem;
  color: antiquewhite;
}

.voiceController {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: fit-content;
  height: min-content;
  padding: 0.5rem 1rem;
  background: #1f0b1f;
  border-radius: 1.5rem;
  font-size: 0.8rem;
  cursor: pointer;
  display: none;
  color: antiquewhite;
  margin-top: 5px;
  align-self: flex-end;
}

.voicePlayer {
  display: none;
}

.voiceController:hover {
  background: #cb5118;
}

.codePreDiv {
  cursor: pointer;
  height: 24px;
  padding: 3px;
}

.smallFonts {
  font-size: 0.6rem;
  color: rgb(231, 231, 231);
}

.sub_options {
  display: flex;
  flex-direction: row;
  width: fit-content;
  justify-content: flex-end;
  background: rgba(48, 48, 48, 0.3);
  border-radius: 0.4rem;
  align-self: flex-end;
  padding: 0.4rem;
}

.sub_options div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.msg-container-clone {
  width: 100%;
  display: flex;
  padding: 10px;
  gap: 10px;
  z-index: 0;
}

.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
  background-size: cover;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.55);
}

.message {
  display: flex;
  flex-direction: column;
  padding: 14px;
  border-radius: 10px;
  width: auto;
  height: fit-content;
  max-width: 80%;
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.55);
  background: rgba(10, 10, 10, 0.75);
  backdrop-filter: blur(30px);
  color: antiquewhite;
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-weight: 400;
  gap: 0.5rem;
}

.icon_with_msg{
  display: flex;
  gap: 0.5rem;
}
.icon_with_msg .icon_svg{
  width:30px;
  height: 30px;
}
.icon_with_msg .word_p{
  overflow: auto;
}

.message-comic {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  width: auto;
  max-height: 180px;
  overflow: auto;
  color: antiquewhite;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 400;
  font-style: normal;
  justify-content: space-evenly;
  padding-left: 10px;
  padding-right: 10px;
}

.genImgDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.genImgDiv > svg {
  margin-right: 6px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  opacity: 1;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.overlay-content {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(52, 7, 104, 0.7);
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: antiquewhite;
}

.overlay-dynpic {
  display: none;
  border-radius: 1rem;
  box-shadow:
    inset 0 0 0 3px rgb(31, 10, 50),
    5px 5px 5px rgba(104, 39, 150, 0.468);
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  padding: 1rem;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.overlay-dynpic #closePreview {
  padding: 0.5rem;
  border-radius: 1rem;
  color: antiquewhite;
  font-size: 0.8rem;
  background-color: #1f0b1f;
  box-shadow: 1px 1px 2px rgba(104, 39, 150, 0.468);
  cursor: pointer;
}

.loadingSvg {
  margin-right: 6px;
  margin-left: 6px;
}

.loadingText {
  font-weight: 500;
  font-size: 1.1rem;
  margin-right: 1.1rem;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(104, 39, 150, 0.468);
  border-radius: 4px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  /* 针对 Safari */
  -moz-appearance: none;
  /* 针对 Firefox */
  width: 1.2rem;
  height: 1.2rem;
  min-width: 1.2rem;
  min-height: 1.2rem;
  border-radius: 50%;
  background-color: #eee;
  position: relative;
  border: none;
  /* 可能需要添加以移除默认边框 */
  outline: none;
  /* 移除焦点时的轮廓 */
}

input[type='checkbox']:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0.5rem;
  width: 0.5rem;
  min-width: 0.5rem;
  min-height: 0.5rem;
  border-radius: 50%;
  background-color: #c7660b;
}

input[type='checkbox']:hover {
  cursor: pointer;
}

.stream_text {
  color: rgb(196, 196, 196);
}

.stream_hint {
  display: inline-block;
  width: 0.8rem;
  height: 0.3rem;
  background-color: rgb(123, 27, 227);
  margin-left: 5px;
  vertical-align: text-bottom;
  border-radius: 2px;
}

/*Media Query Blocks*/
@media only screen and (max-width: 430px) {
  #setTings {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    z-index: 15;
    position: fixed;
    left: 0;
    top: 0;
    width: fit-content;
    height: fit-content;
    background-color: rgba(21, 21, 21, 0);
    box-shadow: none;
  }

  .chatSetUpBtn {
    display: flex;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(21, 21, 21, 0.5);
    cursor: pointer;
  }

  .settingOpt {
    position: fixed;
    left: 0.5rem;
    top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: max-content;
    height: max-content;
    background: rgba(34, 32, 37, 0.8);
    display: none;
  }

  .topSelect {
    font-size: 0.8rem;
    font-weight: 500;
    width: 6.5rem;
    border-radius: 15px;
    border: 0px;
    padding: 0 0.5rem;
    background: rgba(255, 127, 36, 0.7);
    color: rgb(255, 255, 255);
    height: 1.5rem;
    cursor: pointer;
  }

  #ai_intro {
    font-size: 2rem;
    margin-top: 0rem;
    margin-right: 2rem;
    margin-left: auto;
  }

  #holder_box {
    height: 70vh;
    width: 95vw;
    margin-bottom: 0.5rem;
    background: rgba(36, 36, 36, 0.25);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
  }

  #message_box {
    padding: 1rem 0;
  }

  .message {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    padding: 0.8rem;
    border-radius: 10px;
    width: auto;
    height: fit-content;
    max-width: calc(100% - 4.5rem);
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.55);
    background: rgba(18, 18, 18, 0.85);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    color: antiquewhite;
    font-size: 0.8rem;
    line-height: 1.4rem;
    font-weight: 400;
    font-style: normal;
  }

  .avatar {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    min-height: 3rem;
  }

  .messageOptions {
    gap: 0.5rem;
  }

  #submit,
  #regenerate,
  #restart,
  #exitchat {
    padding: 0 0.8rem 0 0.8rem;
    height: 1.5rem;
    font-size: 0.8rem;
  }

  #submit {
    padding: 0px;
    min-height: 3rem;
    min-width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    background-color: #444444;
  }

  .border-wrapper {
    padding: 5px;
    /* 边框的宽度 */
  }

  .wrapper-char-fullscreen {
    padding: 0;
  }

  .wrapper-user {
    bottom: 5rem;
  }

  .comic_msg_holder_char {
    top: 35% !important;
    left: 4rem !important;
    min-width: auto;
    max-width: 80%;
    width: fit-content;
  }

  .comic_msg_holder_user {
    top: calc(30% + 14rem) !important;
    left: 2rem !important;
    min-width: auto;
    max-width: 80%;
    width: fit-content;
  }

  .comic_msgbox {
    min-height: 4rem;
    /* max-height: 7rem; */
    padding: 2px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }

  .message-comic {
    font-size: 0.8rem;
    line-height: 1.4rem;
  }

  .msg-drag-handle {
    display: none;
  }

  .comic_msgbox_arrow_char {
    width: 1rem;
    height: 1rem;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }

  .comic_msgbox_arrow_user {
    width: 1rem;
    height: 1rem;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }

  .smallFonts {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 500px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  #setTings {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  }

  .settingOpt {
    display: flex;
  }

  .topSelect {
    font-size: 0.8rem;
    font-weight: 500;
    width: 6.5rem;
    border-radius: 15px;
    border: 0px;
    padding: 0 0.5rem;
    background: rgba(255, 127, 36, 0.7);
    color: rgb(255, 255, 255);
    height: 1rem;
    cursor: pointer;
  }

  #ai_intro {
    font-size: 2rem;
    margin-left: 2rem;
  }

  #holder_box {
    height: 50vh;
    width: 95vw;
    margin-bottom: 0.5rem;
    background: rgba(36, 36, 36, 0.25);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
  }

  #message_box {
    padding: 1rem 0;
  }

  .message {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    padding: 0.8rem;
    border-radius: 10px;
    width: auto;
    height: fit-content;
    max-width: calc(100% - 4.5rem);
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.55);
    background: rgba(18, 18, 18, 0.85);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    color: antiquewhite;
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: 400;
    font-style: normal;
  }

  .avatar {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    min-height: 3rem;
  }

  .messageOptions {
    gap: 0.5rem;
  }

  #submit,
  #regenerate,
  #restart,
  #exitchat {
    padding: 0 0.8rem 0 0.8rem;
    height: 1.5rem;
    font-size: 1rem;
  }

  #submit {
    padding: 0px;
    min-height: 3rem;
    min-width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    background-color: #444444;
  }

  .border-wrapper {
    padding: 5px;
    /* 边框的宽度 */
  }

  .wrapper-char-fullscreen {
    padding: 0;
  }

  .wrapper-user {
    bottom: 5rem;
  }

  .comic_msg_holder_char {
    top: 35% !important;
    left: 4rem !important;
    min-width: auto;
    max-width: 85%;
    width: fit-content;
  }

  .comic_msg_holder_user {
    top: calc(35% + 14rem) !important;
    left: 2rem !important;
    min-width: auto;
    max-width: 85%;
    width: fit-content;
  }

  .comic_msgbox {
    min-height: 4rem;
    /* max-height: 10rem; */
    padding: 2px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }

  .message-comic {
    font-size: 1rem;
    line-height: 1.6rem;
  }

  .msg-drag-handle {
    display: none;
  }

  .comic_msgbox_arrow_char {
    width: 1rem;
    height: 1rem;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }

  .comic_msgbox_arrow_user {
    width: 1rem;
    height: 1rem;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }

  .smallFonts {
    font-size: 0.8rem;
  }
}
