*{
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    /* font-family: 'Philosopher', sans-serif; */
    font-size: 100%;
    width: 100vw;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:antiquewhite;
    
}
body{
  font-size: 1rem;
}

.placeholder{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    min-height: 100%;
    background-image: url('/static/images/bg/chatroom.png');
    background-size:cover;
    background-repeat: no-repeat;
}
.settings{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 10px;
    background-color: rgba(21, 21, 21, 0.164);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    gap:5px
}
.top_buttons{
    padding: 5px 20px;
    font-size: 1rem;
    border-radius: 15px;
    background-color: rgba(52, 7, 104, 0.7);
    height:fit-content;
    cursor: pointer;
}
.user_profile{
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:5px;
  /* margin-right: 20px; */
}
.user_profile .profile_avatar{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-image: url('/static/images/avatar/profile_male.png');
  background-position: center center;
  background-size: 100%;
}
.user_profile .username{
  font-weight: 300;
}
.user_profile .credits{
  font-size: 0.7rem;
  color:#c7660b;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  gap:5px;
  justify-content: flex-start;
  align-items: center;
}
.user_profile #btn_logout{
  cursor: pointer;
}

.headline {
    padding: 40px 0px;
    text-shadow: 0px 0px 10px #000000;
    font-size: 3rem;
    font-family: 'Philosopher', sans-serif; 
}

#logindiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 90vw;
  background-color: rgba(0, 0, 0, 0.2);
  /* background-image: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0.1) 2px, rgba(0, 0, 0, 0.1) 5px); */
  backdrop-filter: blur(3px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  gap:1rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.chatbtn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  color:#280149;
  gap: 0.2rem;
  padding: 0.3rem 1.5rem;
  border-radius: 1.3rem;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
}

.subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    width: 100%;
    background-color: rgba(52, 7, 104, 0.7);
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
}

.rolelist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap; 
    width: 100%;
    gap: 1rem;
    
}
.roleholder {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap:5px;
    background-color: rgba(5, 5, 5, 0.5);
    border-radius: 0.5rem;
    font-size: 1rem;
}
.roleholder_selected {
    box-shadow: 0px 0px 15px rgba(218, 56, 255, 0.7);
}
.avatarbk {
    width:10rem;
    height:10rem;
    display: flex;
    background-position: center center;
    background-size: 100%;
    border-radius: 0.4rem;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    
}

.roleRadios {
    display: none
}


.overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    display: none; 
    opacity: 100;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(5px); 
    z-index: 9999;
    overflow-y: auto;
  }
  #signup_form, #login_form{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    border-radius: 1rem;
    box-shadow: 0px 0px 25px -5px rgba(153, 0, 254, 0.5);
  }
  #login_form{
    width: 300px;
  }

  #signup_form .top_bar, #login_form .top_bar{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    background: rgba(255, 255, 255, 1);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    
  }
  #signup_form .top_bar .title, #login_form .top_bar .title{
    font-weight: 600;
    font-size: 1.3rem;
    color: rgba(52, 7, 104, 0.7);
  }

  #signup_form #sign_author, #login_form #login_author{
    display: none;
  }

  #signup_form .main_body, #login_form .main_body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap:10px;
    background: rgba(52, 7, 104, 0.7);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px;
    
  }
  #signup_form .info_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap:10px;
    width: 100%;
  }
  #sign_profile, #sign_charlooks{
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:10px
  }
  #sign_charlooks{
    width: 40%;
    background: rgba(61, 29, 87, 0.9);
    border-radius: 10px;
    padding: 15px;
  }
  #signup_form label, #login_form label, #sign_charlooks span, #sign_charlooks label{
    align-self: flex-start;
    font-size: 0.8rem;
  }
  #sign_charlooks span{
    font-size: 1rem;
  }
  #sign_profile .gender_bar{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
  }
  #sign_profile .gender_bar label{
    align-self: center;
  }
  .btn_close{
    cursor: pointer;
  }
  .pwd_type{
    margin:0 10px;
  }
  .form_hint{
    font-size: 10px;
    font-weight: 600;
    font-style: italic;
    color: #c7660b;
  }
  .overlay input, .overlay select{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(25, 3, 52);
    border-bottom-color: rgb(87, 36, 164);
    border-right-color: rgb(67, 20, 137);
    border-radius: 15px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.9);
    font-weight: 600;
    font-size: 1rem;
    color:rgba(52, 7, 104);
    width: 100%
  }
  .overlay select{
    font-size: 0.8rem;
  }
  .overlay input[type="radio"]{
    appearance: none;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    background-color: #eee;
  }
  .overlay input[type="radio"]:hover{
    background-color: #280149;
  }
  .overlay input[type="radio"]:checked{
    background-color: #c7660b;
  }
  .overlay .submit_btn{
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.2rem 1rem;
    color:#280149
  }
  @media only screen and (max-width: 430px) {
    body {
      font-size: 1.1rem; 
    }
    .headline {
      padding: 1rem 0px;
      text-shadow: 0px 0px 2rem #000000;
      font-size: 2.5rem;
      font-family: 'Philosopher', sans-serif; 
    }
    .top_buttons{
      padding: 0.3rem 1rem;
      font-size: 1.2rem;
      border-radius: 2rem;
      background-color: rgba(52, 7, 104, 0.7);
      height:fit-content;
      cursor: pointer;
    }
    #logindiv {
      width: 95vw;
      padding: 0.3rem;
    }
    .overlay {
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    #login_form, #signup_form{
      width: calc(100vw - 4rem);
    }
    #signup_form .info_row{
      flex-direction: column;
    }
    #sign_profile, #sign_charlooks{
      width: 100%;
    }
  }
  